
<deja-header></deja-header>
  <div id="banner" ng-show="!$ctrl.gameOver" class="container ">
    <div class="panel panel-default" ng-show="$ctrl.notStarted">
      <form name="postForm"
            ng-submit="$ctrl.startGame($event)">
            <div class="form-group">
              <label for="player-name">Enter Your Name To Start</label>
              <input ng-model="$ctrl.playerName" type="text" class="form-control" id="player-name" >
            </div>
            <div class="form-group">
              <label for="card-count">Enter Number of Cards to Guess</label>
              <input ng-model="$ctrl.cardCount" type="number" class="form-control" id="cart-count" >
            </div>
            <button type="submit" class="btn btn-success">Start</button>
      </form>
    </div>

    <div class="container" ng-show="!$ctrl.notStarted">
      <img class="card" src="{{$ctrl.cards[$ctrl.randomCard].image}}">
    </div>

    <div class="container" ng-show="!$ctrl.notStarted">
      <div class="flexer">
        <div ng-repeat="card in $ctrl.cards">
          <img class="card" src="{{card.image}}" ng-show="card.show" ng-click="$ctrl.flipCardBack(card)">
          <img class="card" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRX2jN50F0pq0WTNEOZCpEMaxWJO7zNJltRSPXQiUIrxci3yF0N" ng-show="!card.show" ng-click="$ctrl.flipCard(card)">
        </div>
      </div>
    </div>
  </div>
  <div ng-show="$ctrl.gameOver" class="jumbotron">
    <h2>You win your score is {{$ctrl.card.points}}</h2>
  </div>
<deja-footer></deja-footer>
